<div class="container">
    <form action="">
        <div class="row">
            <div class="col-xxl-7">
                <div class="cart-content">
                    <div class="cart-content-header">
                        <div class="cart-header-title">
                            <b>GIỎ HÀNG CỦA BẠN</b> (1 SẢN PHẨM)
                        </div>
                        <button>
                            + Thêm món ăn
                        </button>
                    </div>
                    <div class="cart-list">
                        <div class="cart-list-item">
                            <div class="cart-list-left">
                                <a href="">
                                    <img src="./images/menu2.jpg" alt="">
                                </a>
                                <div class="cart-list-info">
                                    <a class="cart-info-name">
                                        Loy Set
                                    </a>
                                    <div class="cart-info-desc">
                                        1 x Loy Set
                                    </div>
                                    <div class="cart-info-price">
                                        149.000 đ
                                    </div>
                                </div>
                            </div>
                            <div class="cart-list-right">
                                <div class="cart-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <div class="cart-info-delete">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                        </div>
                        <div class="cart-list-item">
                            <div class="cart-list-left">
                                <a href="">
                                    <img src="./images/menu2.jpg" alt="">
                                </a>
                                <div class="cart-list-info">
                                    <div class="cart-info-name">
                                        Judi Set
                                    </div>
                                    <div class="cart-info-desc">
                                        1 x Loy Set
                                    </div>
                                    <div class="cart-info-price">
                                        199.000 đ
                                    </div>
                                </div>
                            </div>
                            <div class="cart-list-right">
                                <div class="cart-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <div class="cart-info-delete">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-suggest">
                        <div class="cart-suggest-title">
                            <b>NGON HƠN KHI ĂN KÈM</b>
                        </div>
                        <div class="slideshow-suggest slick-arrow-square">
                            <a href="/" class="suggest-item">
                                <img src="/images/menu1.jpg" alt="menu1">
                                <div class="suggest-name">Gà lắc</div>
                                <div class="suggest-price">
                                    44.000 đ
                                </div>
                                <div class="suggest-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <button class="suggest-update">
                                    Cập nhật
                                </button>
                            </a>
                            <a href="/" class="suggest-item">
                                <img src="/images/menu11.jpg" alt="menu1">
                                <div class="suggest-name">Khoai tây</div>
                                <div class="suggest-price">
                                    51.000 đ
                                </div>
                                <div class="suggest-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <button class="suggest-update">
                                    Cập nhật
                                </button>
                            </a>
                            <a href="/" class="suggest-item">
                                <img src="/images/menu3.jpg" alt="menu1">
                                <div class="suggest-name">Kem</div>
                                <div class="suggest-price">
                                    24.000 đ
                                </div>
                                <div class="suggest-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <button class="suggest-update">
                                    Cập nhật
                                </button>
                            </a>
                            <a href="/" class="suggest-item">
                                <img src="/images/menu4.jpg" alt="menu1">
                                <div class="suggest-name">Mực rán</div>
                                <div class="suggest-price">
                                    45.000 đ
                                </div>
                                <div class="suggest-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <button class="suggest-update">
                                    Cập nhật
                                </button>
                            </a>
                            <a href="/" class="suggest-item">
                                <img src="/images/menu7.jpg" alt="menu1">
                                <div class="suggest-name">Salad</div>
                                <div class="suggest-price">
                                    20.000 đ
                                </div>
                                <div class="suggest-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <button class="suggest-update">
                                    Cập nhật
                                </button>
                            </a>
                            <a href="/" class="suggest-item">
                                <img src="/images/menu8.jpg" alt="menu1">
                                <div class="suggest-name">Khoai tây nghiền</div>
                                <div class="suggest-price">
                                    20.000 đ
                                </div>
                                <div class="suggest-list-quantity">
                                    <ul>
                                        <li class="minus">
                                            -
                                        </li>
                                        <li class="quantity">
                                            1
                                        </li>
                                        <li class="plus">
                                            +
                                        </li>
                                    </ul>
                                </div>
                                <button class="suggest-update">
                                    Cập nhật
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="cart-note">
                        <label for="">Ghi chú cho đơn hàng</label>
                        <input type="text" placeholder="Vui lòng thêm lưu ý cho cửa hàng">
                    </div>
                </div>
            </div>
            <div class="col-xxl-5">
                <div class="cart-right">
                    <div class="cart-user">
                        <div class="cart-ship">
                            Giao hàng đến
                        </div>
                        <div class="cart-add">
                            <div class="cart-address">
                                123 Nguyễn Thị Thập P12 Quan 7, Ho Chi Minh
                            </div>
                            <div class="cart-address-edit">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="cart-store">
                            Cửa hàng: LotteMart Q7
                        </div>
                        <div class="line-dot"></div>
                        <div class="time">
                            Thời gian tiếp nhận đơn hàng từ 10:00 đến 21:00 hằng ngày
                        </div>
                    </div>
                    <div class="cart-select">
                        <div class="cart-select-title">
                            Tùy chọn
                        </div>
                        <ul>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Dụng cụ ăn uống</label>
                            </li>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Tương cà</label>
                            </li>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Tương ớt</label>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-submit">
                        <div class="cart-total">
                            <div class="cart-text">
                                Tổng cộng
                            </div>
                            <div class="cart-total-price">
                                145.000 đ
                            </div>
                        </div>
                        <div class="cart-button">
                            Tiếp tục
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>