<!-- Slider -->
<div class="slideshow slick-arrow-square">
    <div class="slick-slide">
        <div class="slide-content">
            <a href="/">
                <img src="/images/slide1.jpg" alt="slide1">
            </a>
        </div>
    </div>
    <div class="slick-slide">
        <div class="slide-content">
            <a href="/">
                <img src="/images/slide2.jpg" alt="slide2">
            </a>
        </div>
    </div>
    <div class="slick-slide">
        <div class="slide-content">
            <a href="/">
                <img src="/images/slide3.jpg" alt="slide3">
            </a>
        </div>
    </div>
    <div class="slick-slide">
        <div class="slide-content">
            <a href="/">
                <img src="/images/slide4.jpg" alt="slide4">
            </a>
        </div>
    </div>
    <div class="slick-slide">
        <div class="slide-content">
            <a href="/">
                <img src="/images/slide5.jpg" alt="slide5">
            </a>
        </div>
    </div>
    <div class="slick-slide">
        <div class="slide-content">
            <a href="/">
                <img src="/images/slide6.jpg" alt="slide6">
            </a>
        </div>
    </div>
</div>
<!-- End Slider -->
<!-- Order Bar -->
<div class="order-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="order-method">
                    <button>Giao hàng tận nơi</button>
                    <button>Đặt đến lấy</button>
                </div>
                <div class="order-address">
                    <input type="text" placeholder="Vui lòng nhập địa chỉ">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Order Bar -->
<!-- Order Content -->
<div class="order-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        Món ngon phải thử
                    </li>
                    <li>
                        Khuyến mãi
                    </li>
                </ul>
            </div>
        </div>
        <div class="order-list">
            <div class="row justify-content-center">
                <div class="col-xxl-3">
                    <div class="order-box">
                        <div class="order-image">
                            <img src="./images/slide1.jpg" alt="">
                        </div>
                        <div class="order-text">
                            <div class="order-name">
                                LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                            </div>
                            <div class="order-price">
                                163.000 đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="order-box">
                        <div class="order-image">
                            <img src="./images/slide2.jpg" alt="">
                        </div>
                        <div class="order-text">
                            <div class="order-name">
                                LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                            </div>
                            <div class="order-price">
                                163.000 đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="order-box">
                        <div class="order-image">
                            <img src="./images/slide3.jpg" alt="">
                        </div>
                        <div class="order-text">
                            <div class="order-name">
                                LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                            </div>
                            <div class="order-price">
                                163.000 đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="order-box">
                        <div class="order-image">
                            <img src="./images/slide4.jpg" alt="">
                        </div>
                        <div class="order-text">
                            <div class="order-name">
                                LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                            </div>
                            <div class="order-price">
                                163.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <a href="/">Xem thêm thực đơn</a>
        </div>
    </div>
