<div class="page-title">
    Quản lý cửa hàng
</div>
<div class="d-sm-flex align-items-center justify-content-between">
    <div class="filter">
        <input type="text" placeholder="Filter mã cửa hàng">
        <div class="btn-group">
            <button type="button" class="btn btn-warning">Thành phố</button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                    id="dropupMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropupMenuSplitButton1">
                <h6 class="dropdown-header">Settings</h6>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger">Quận/huyện/thị xã</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    id="dropupMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropupMenuSplitButton1">
                <h6 class="dropdown-header">Settings</h6>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success">Phường/Xã</button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                    id="dropupMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropupMenuSplitButton1">
                <h6 class="dropdown-header">Settings</h6>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
    </div>
    <div class="btn-wrapper">
        <a href="/" class="btn button"><i class="fa-solid fa-plus"></i> Thêm</a>
        <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
    </div>
</div>
<div class="table-sorter-wrapper">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th class="sortStyle"><input type="checkbox" name="checkboxInput"></th>
                <th class="sortStyle">Mã cửa hàng</th>
                <th class="sortStyle">Địa chỉ</th>
                <th class="sortStyle">Phường/Xã</th>
                <th class="sortStyle">Quận/Huyện/Thị Xã</th>
                <th class="sortStyle">Thành phố</th>
                <th class="sortStyle">Hotline</th>
                <th class="sortStyle"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>ST0001</td>
                <td>500B Nguyễn Văn Luông</td>
                <td>Phường 12</td>
                <td>Quận 6</td>
                <td>Hồ Chí Minh</td>
                <td>19001002</td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>ST0002</td>
                <td>326 An Dương Vương</td>
                <td>Phường 4</td>
                <td>Quận 5</td>
                <td>Hồ Chí Minh</td>
                <td>19002345</td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>ST0003</td>
                <td>661/1-661/3 Lũy Bán Bích</td>
                <td>Phường Phú Thạnh</td>
                <td>Quận Tân Phú</td>
                <td>Hồ Chí Minh</td>
                <td>19001212</td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>ST0004</td>
                <td>411 Liên tỉnh 5</td>
                <td>Phường 5</td>
                <td>Quận 8</td>
                <td>Hồ Chí Minh</td>
                <td>19004282</td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-item">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>