@model Category
@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Thông tin danh mục</h2>
        <div class="create-info">Thời gian tạo: 07/10/2024</div>
        <form class="forms-sample" asp-controller="Category" asp-action="Update" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="input">Mã danh mục</label>
                        <input type="text" required="required" class="form-control"
                               name="CategoryId" readonly value="@Model.CategoryId" placeholder="Mã danh mục">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="input">Tên danh mục</label>
                        <input type="text" required="required" class="form-control"
                               name="Name" value="@Model.Name"
                               placeholder="Tên danh mục">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="textarea">Nội dung</label>
                        <textarea type="text" required="required" class="form-control"
                                  name="Description">@Model.Description</textarea>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Hình ảnh danh mục</label>
                        <input type="file" name="pictureFile" id="fileInput" class="file-upload-default" accept="image/*">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled="" placeholder="Tải hình ảnh lên...">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button" onclick="document.getElementById('fileInput').click();" style="margin-right: 0;">Upload</button>
                            </span>
                        </div>
                        <img src="@Model.PictureUrl" class="image-preview" style="display:block;" />
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button asp-controller="Category" asp-action="Index" class="btn btn-light">Cancel</button>
            </div>
        </form>
    </div>
</div>

