<div class="dashboard-info">
    <div class="hello">Xin chào!</div>
    <div class="date">Thứ sáu, 4 tháng 10, 2024</div>
    <div class="desc">Thống kê các đơn hàng đã được thanh toán</div>
</div>
<div class="statistics-table">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Tuần này
                    </div>
                    <div class="price-element">
                        182.000 đ
                    </div>
                    <div class="quantity-element">
                        18% so với tuần trước
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Tháng này
                    </div>
                    <div class="price-element">
                        336.000 đ
                    </div>
                    <div class="quantity-element">
                        Không có dữ liệu tháng trước
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Đơn tuần này
                    </div>
                    <div class="price-element">
                        2 đơn
                    </div>
                    <div class="quantity-element">
                        100% so với tuần trước
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Đơn tháng này
                    </div>
                    <div class="price-element">
                        3 đơn
                    </div>
                    <div class="quantity-element">
                        Không có dữ liệu tháng trước
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-content">
    <div class="dashboard-top">
        <div class="dashboard-title">
            <div class="up">Đơn hàng</div>
            <div class="down">Đơn hàng gần đây của cửa hàng</div>
        </div>
        <div class="all">
            <button type="button" class="btn btn-primary">Tất cả <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
        </div>
    </div>
    <div class="table-sorter-wrapper">
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th class="sortStyle">Mã đơn</th>
                    <th class="sortStyle">Liên hệ</th>
                    <th class="sortStyle">Ngày tạo</th>
                    <th class="sortStyle">Tổng tiền</th>
                    <th class="sortStyle">Thanh toán</th>
                    <th class="sortStyle">Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>B00000000001</td>
                    <td>
                        <div class="contact">
                            <div class="name">Tiêu Khải Hoàn</div>
                            <div class="phone">0764795487</div>
                        </div>
                    </td>
                    <td>03/10/2024</td>
                    <td>192.000 đ</td>
                    <td>
                        <div class="payment">
                            <div class="status">Đã thanh toán <i class="fa-solid fa-circle-check"></i></div>
                            <div class="payment-status">
                                Ship COD
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Đơn hàng mới</button>
                    </td>
                </tr>
                <tr>
                    <td>B00000000002</td>
                    <td>
                        <div class="contact">
                            <div class="name">Nguyễn Văn A</div>
                            <div class="phone">0903138081</div>
                        </div>
                    </td>
                    <td>01/10/2024</td>
                    <td>76.000 đ</td>
                    <td>
                        <div class="payment">
                            <div class="status">Đã thanh toán <i class="fa-solid fa-circle-check"></i></div>
                            <div class="payment-status">
                                Ship COD
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Đơn hàng mới</button>
                    </td>
                </tr>
                <tr>
                    <td>B00000000003</td>
                    <td>
                        <div class="contact">
                            <div class="name">Nguyễn Hoàng B</div>
                            <div class="phone">0903876456</div>
                        </div>
                    </td>
                    <td>25/09/2024</td>
                    <td>871.000 đ</td>
                    <td>
                        <div class="payment">
                            <div class="status">Đã thanh toán <i class="fa-solid fa-circle-check"></i></div>
                            <div class="payment-status">
                                Ship COD
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">Hoàn tất</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>