<div class="page-title">
    Quản lý nhân viên
</div>
<div class="d-sm-flex align-items-center justify-content-between">
    <div class="filter">
        <input type="text" placeholder="Filter mã nhân viên">
        <input type="text" placeholder="Filter số điện thoại">
        <div class="btn-group">
            <button type="button" class="btn btn-danger"><i class="fa-solid fa-square-minus"></i> Thùng rác</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    id="dropupMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropupMenuSplitButton1">
                <h6 class="dropdown-header">Settings</h6>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa-solid fa-circle-plus"></i> Tình
                trạng
            </button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                    id="dropupMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropupMenuSplitButton1">
                <h6 class="dropdown-header">Settings</h6>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
    </div>
    <div class="btn-wrapper">
        <a href="/" class="btn button"><i class="fa-solid fa-plus"></i> Thêm</a>
        <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
    </div>
</div>
<div class="table-sorter-wrapper">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th class="sortStyle"><input type="checkbox" name="checkboxInput"></th>
                <th class="sortStyle">Mã nhân viên</th>
                <th class="sortStyle">Thông tin cá nhân</th>
                <th class="sortStyle">Email</th>
                <th class="sortStyle">Tài khoản</th>
                <th class="sortStyle">Tình trạng</th>
                <th class="sortStyle">Doanh thu</th>
                <th class="sortStyle"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>SU0000000002</td>
                <td>
                    <div class="contact">
                        <div class="name">Tiêu Khải Hoàn</div>
                        <div class="phone">0764795487</div>
                    </div>
                </td>
                <td>tieukhaihoan127@gmail.com</td>
                <td>
                    <button type="button" class="btn btn-danger">Khóa</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">Đang hoạt động</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Xem</button>
                </td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>SU0000000003</td>
                <td>
                    <div class="contact">
                        <div class="name">Nguyễn Văn A</div>
                        <div class="phone">0764561234</div>
                    </div>
                </td>
                <td>nguyenvana@gmail.com</td>
                <td>
                    <button type="button" class="btn btn-success">Mở Khóa</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Dừng hoạt động</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Xem</button>
                </td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>SU0000000004</td>
                <td>
                    <div class="contact">
                        <div class="name">Tạ Chí D</div>
                        <div class="phone">0123456789</div>
                    </div>
                </td>
                <td>tachid@gmail.com</td>
                <td>
                    <button type="button" class="btn btn-danger">Khóa</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">Đang hoạt động</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Xem</button>
                </td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="checkboxInput">
                </td>
                <td>SU0000000005</td>
                <td>
                    <div class="contact">
                        <div class="name">Tiêu Tấn H</div>
                        <div class="phone">0987321567</div>
                    </div>
                </td>
                <td>tieutanh@gmail.com</td>
                <td>
                    <button type="button" class="btn btn-success">Mở Khóa</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Dừng hoạt động</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Xem</button>
                </td>
                <td>
                    <div class="function">
                        <div class="edit">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        <div class="delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-item">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>