<div class="order-content">
    <div class="container">
        <div class="row">
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide1.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide2.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide3.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide4.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide1.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide2.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide3.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="promotion-box">
                    <div class="order-image">
                        <img src="./images/slide4.jpg" alt="">
                    </div>
                    <div class="order-text">
                        <div class="promotion-name">
                            LƯƠNG VỀ - COMBO SALE Ê HỀ CHỈ 119K
                        </div>
                        <div class="order-button">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-cover">
            <ul class="pagination">
                <li class="pagination-item">
                    <a href="#">Previous</a>
                </li>
                <li class="pagination-item pg-active">
                    <a href="#">1</a>
                </li>
                <li class="pagination-item">
                    <a href="#">2</a>
                </li>
                <li class="pagination-item">
                    <a href="#">3</a>
                </li>
                <li class="pagination-item">
                    <a href="#">4</a>
                </li>
                <li class="pagination-item">
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>